

div {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    height: 600px;
    background-image: url("assets/Clouds1/1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 10em;
    border: 2px solid black;
    border-radius: 2em;
}

img {
    display: none;
    width: 900px;
}